---
interface Props {
	flip?: boolean;
}

const { flip = false } = Astro.props;
---

<div class={`section-divider ${flip ? 'flip' : ''}`}>
	<svg viewBox="0 0 1200 60" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
		<path
			d="M0,30 Q300,10 600,30 T1200,30 L1200,60 L0,60 Z"
			fill="currentColor"
		/>
	</svg>
</div>

<style>
	.section-divider {
		width: 100%;
		height: 60px;
		color: var(--color-bg-alt);
		overflow: hidden;
		display: block;
		line-height: 0;
	}

	.section-divider.flip {
		transform: scaleY(-1);
	}

	.section-divider svg {
		width: 100%;
		height: 100%;
		display: block;
	}
</style>
